# fly.toml app configuration file generated for code-with-umam-jago-golang on 2026-01-23T10:18:48Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'code-with-umam-jago-golang'
primary_region = 'sin'

[build]
  [build.args]
    GO_VERSION = '1.25.1'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
